{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
      <button type="button" class="close" onclick='toggleShow(this)'>

        <span aria-hidden="true">&#9998;</span>
      </button>
      <!-- our form for edit -->
        <div class="showNote">
          <form action="{{url_for('views.edit_note', nid=note.id)}}" method="POST">
          <textarea name="text" id="text" class="form-control">{{note.data}}</textarea>
          <div align="left">
              <button type="submit" class="btn btn-secondary btn-sm" >Modify Note</button>
          </div>
          </form>
        </div>
    
      
    </li>

  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

<script type="text/javascript">
  function toggleShow(item){
    $(item).next(".showNote").toggle();
  }
</script>
{% endblock %}
